<div class="grid-container">
    <div  (click)="getNumber('%')"class="grid-item">%</div>
    <div (click)="getNumber('SHIFT')"class="grid-item">SHIFT</div>
    <div (click)="getNumber('DEL')"class="grid-item">DEL</div>  
    <div (click)="getNumber('AC')"class="grid-item">AC</div>
    
    <div (click)="getNumber(7)" class="grid-item">7</div>
    <div (click)="getNumber(8)" class="grid-item">8</div>  
    <div (click)="getNumber(9)"class="grid-item">9</div>
    <div (click)="getNumber('+')" class="grid-item">+</div>
    <div (click)="getNumber(4)" class="grid-item">4</div>  
    <div (click)="getNumber(5)" class="grid-item">5</div>
    <div (click)="getNumber(6)" class="grid-item">6</div>
    <div (click)="getNumber('-')" class="grid-item">-</div>  
    <div (click)="getNumber(1)" class="grid-item">1</div>
    <div (click)="getNumber(2)" class="grid-item">2</div>
    <div (click)="getNumber(3)" class="grid-item">3</div>  
    <div (click)="getNumber('*')" class="grid-item">*</div>
    <div (click)="getNumber('.')" class="grid-item">.</div>
    <div (click)="getNumber(0)" class="grid-item">0</div> 
    <div (click)="calcula()" class="grid-item">=</div>
    <div (click)="getNumber(':')" class="grid-item">:</div>  
  </div>

